.form-input {
    border: 1px solid #80bdff;
    padding: 0.45rem 0.9rem;
    font-weight: 100;
    color: #6c757d;
    height:100%;
    border-radius: 0.25rem;
    width: 250px;
    margin-right: 15px;
    outline: 0;
    transition: all .15s ease-in-out;

    &[type="checkbox"] {
        height:auto;
    }

    &[type="color"] {
        height: revert;
        padding: 0;
    }

    &.danger{
        border: 1px solid red;
    }

    &:focus {

        &.danger{
            box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%);
        }

        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
}

form {
    margin:auto;

    .container__row{
        display:flex;
        gap: 9rem;

        .card__row{
            display: flex;
            gap:10px;
            align-items: center;
            margin-bottom: 10px;

            .input-container {
                width:235px;
            }


            .label__row{
                width: 250px;
                color: #313a46;

                &.required:after {
                    content:" *";
                }
            }
        }
    }

    .container__column{
        display: flex;
        gap:20px;
        flex-direction: column;
    }
}




