{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <div class="container-list">

        <div class="card">
            <h4 class="title-list">
                Factures
            </h4>
            <hr>
            <div class="row__datatable">
                <div class="d-flex">
                    <label for="input-search"></label>
                    <input class="form-input" type="text" placeholder="Chercher ..." id="input-search" name="search"/>

                    <label for="datatable-limit"></label>
                    <select name="limit" id="datatable-limit" class="form-input">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <a class="btn btn-success" href="{{ path('invoice_add') }}">
                    <i class="fa fa-plus"></i>
                    Créer une facture
                </a>
            </div>

            <table id="table-invoice" class="datatable" data-url="{{ path('invoice_json') }}">
                <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Patient</th>
                        <th>Date</th>
                        <th>Prix</th>
                        <th>Status</th>
                        <th>Détails</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('invoice.datatable') }}
{% endblock %}