{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <div class="card margin-bottom-20">
        <div>
            {{ invoice.state }}
        </div>
    </div>
    <div class="card">
        <h4>{{ invoice }}</h4>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

