<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facture</title>
    <style>
        .btn {
            border: 1px solid transparent;
            padding: 0.45rem 0.9rem;
            font-size: .9rem;
            color: white;
            display: inline-flex;
            align-items: center;
            column-gap: 10px;
            font-weight: 400;
            cursor: pointer;
            line-height: 1.5;
            text-align: center;
            border-radius: 0.15rem;
            box-shadow: 0 2px 6px 0 rgb(23 34 23 / 50%);
            transition: all .15s ease-in-out;
            text-decoration: none;
        }

        .btn-primary {
            background-color: #0F2544FF;
        }

        .btn-primary:hover {
            background-color: #0F2544BD;
        }
        .center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="center">
        <img src="{{ absolute_url(asset('build/images/logo.png')) }}" alt="logo" width="150"/>
        <h2 class="logo_name">MedicalWare</h2>
    </div>
    <div class="center">
        <h4>Vous avez une nouvelle facture à payé</h4>
        <p>Réference {{ invoice.reference }}</p>
        <p>Date {{ invoice.date| date('d/m/Y') }}</p>
        <p>Total TTC {{ invoice.ttc|format_currency('EUR', [], 'fr_FR') }}</p>

    </div>
</body>
</html>