<style>
    .btn {
        border: 1px solid transparent;
        padding: 0.45rem 0.9rem;
        font-size: .9rem;
        color: white;
        display: inline-flex;
        align-items: center;
        column-gap: 10px;
        font-weight: 400;
        cursor: pointer;
        line-height: 1.5;
        text-align: center;
        border-radius: 0.15rem;
        box-shadow: 0 2px 6px 0 rgb(23 34 23 / 50%);
        transition: all .15s ease-in-out;
        text-decoration: none;
    }

    .btn-primary {
        background-color: #0F2544FF;
    }
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="center">
    <img src="{{ absolute_url(asset('build/images/logo.png')) }}" alt="logo" width="150"/>
    <h2 class="logo_name">MedicalWare</h2>
</div>
<div class="center">
    <h4>Pour changer votre mot de passe veuillez visiter le lien ci-dessous</h4>
    <p>Le lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" class="btn btn-primary">Changer mon mot de passe</a>
</div>