
{% apply spaceless %}
    {% if user.isActive %}
        <label class="switch">
            <input type="checkbox" checked data-user="{{ user.id }}">
            <span class="slider round"></span>
        </label>
    {% else %}
        <label class="switch">
            <input type="checkbox" data-user="{{ user.id }}">
            <span class="slider round"></span>
        </label>
    {% endif %}
{% endapply %}