.dashboard-section {
  position: relative;
  background: var(--bg-color-body);
  height: 100vh;
  left: var(--width-side-bar);
  top: 0;
  z-index: -1;
  width: calc(100% - var(--width-side-bar));
  transition: all 0.5s ease;

  .dashboard-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

.sidebar.close ~ .dashboard-section {
  left: var(--width-side-bar-close);
  width: calc(100% - var(--width-side-bar-close));
}