{% extends app.request.query.get('isAjax', false) ? 'layout_empty.html.twig' : 'patient/show.html.twig' %}

{% block content %}
    <div class="container-list-users">
        <h4 class="title margin-bottom-5">
            Factures
        </h4>
        <div class="card">
            <div class="row__datatable">
                <div class="d-flex">
                    <label for="input-search"></label>
                    <input class="form-input" type="text" placeholder="Chercher ..." id="input-search" name="search"/>

                    <label for="datatable-limit"></label>
                    <select name="limit" id="datatable-limit" class="form-input">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>

            <table id="table-invoice" class="datatable" data-url="{{ path('patient_invoice_json', {id: patient.id}) }}">
                <thead>
                <tr>
                    <th>Référence</th>
                    <th>Patient</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>Status</th>
                    <th>Détails</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}