#user-details-container {
  .card {
    display: flex;
    flex-direction: column;
    gap:10px;

    .row {
      display: flex;
      width: 100%;

      &.row-actions {
        height: 4em;
        padding-top: 1em;

        .left-item {
          font-weight: lighter;
          font-style: italic;
          height: 100%;
        }

        .right-item {
          display: flex;
          justify-content: end;
          height: 100%;

          a {
            margin-right: 1em;
          }
        }
      }

      &:nth-child(2) {
        padding-top: 1em;
      }

      &:not(:first-child) {
        padding-bottom: .4em;
      }

      .left-item {
        width: 20%;
        min-width: 200px;
        color: #313a46;
        font-weight: 500;
      }

      .right-item {
        width: 80%;
      }

      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;

        &.avatar-text {
          background-color: var(--color-primary);
          color: var(--color-white);
          font-size: 2.5rem;
        }
      }
    }
  }


}