form[name="user"]{
    width: 70%;

    .container__row{
        display: flex;
        gap: 20px;

        .card__row{
            display: flex;
            gap:10px;
            align-items: center;
            margin-bottom: 10px;


            .label__row{
                width: 150px;
                color: #313a46;
            }
        }
    }

    #user_address{
        div{
            text-align: center;
            margin-bottom:5px;

            label{
                display: inline-block;
                text-align: left;
                width: 210px;
            }

            input[name^="user[address]"]{
                border: 1px solid #80bdff;
                padding: 0.45rem 0.9rem;
                font-weight: 100;
                color: #6c757d;
                border-radius: 0.25rem;
                margin-right: 15px;
                outline: 0;
                transition: all .15s ease-in-out;

                &:focus {
                    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
                }
            }
        }
    }

}




