{% apply spaceless %}
    <div class="d-flex justify-content-center">
        <a class="btn-xs btn-primary edit_service margin-right-5"  data-service="{{ service.id }}"><i class="fa fa-pen"></i></a>
        <a class="btn-xs btn-danger delete_service" data-service="{{ service.id }}"><i class="fa fa-trash"></i></a>
    </div>
{% endapply %}