{% apply spaceless %}
    <div class="d-flex justify-content-center">
        <a class="btn btn-xs btn-primary edit_service margin-right-5"  data-service="{{ service.id }}"><i class="fa fa-pen"></i></a>
        <a class="btn btn-xs btn-danger" data-service="{{ service.id }}"><i class="fas fa-user-lock"></i></a>
    </div>
{% endapply %}