{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block body %}
    <div class="container-list-rooms">
        <h4 class="title-list-rooms">
            Salles
        </h4>
        <div class="card">
            <div class="row">
                <input class="form-input-datatable" type="text" placeholder="Chercher ..." id="input-search"
                       name="search"/>
                <a class="btn btn-success" href="#">
                    <i class="fa fa-plus"></i>
                    Ajouter une salle
                </a>
            </div>

            <table id="table-rooms" class="datatable" data-url="{{ path('rooms_json') }}">
                <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Capacité</th>
                    <th>Type</th>
                    <th>Détails</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('room.index') }}
{% endblock %}