
{% apply spaceless %}
    <div class="d-flex justify-content-center">
        <a class="btn-xs btn-primary margin-right-1" href="#"><i class="fa fa-eye"></i></a>
        <a class="btn-xs btn-primary" href="#"><i class="fa fa-pen"></i></a>
    </div>
{% endapply %}