.title_folder {
  font-size:3rem;
  text-transform: uppercase;
  color: #313a46;
}

.table_medical_file_line{
  width:100%;
  border-collapse: collapse;

  .table_medical_file_line_header{
    background-color: #2401cc;
    table-layout: fixed;
    color:white;
    th {
      text-transform: uppercase;
      padding: 0.85rem;
      font-size: 0.65rem;
      text-align: center;
      &:first-child{
        border-radius:5px 0 0 5px;
      }

      &:last-child{
        border-radius:0 5px 5px 0;
      }
    }
  }

  td {
    padding:0.5rem 0;
  }

  .form-input{
    width:90% !important;
  }

  .btn-danger{
    margin-left:3rem;
  }
}