.datatable {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: #eef2f7;
  }

  th {
    color: #313a46;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #edeff1;
    padding: 0.95rem;
  }

  td {
    color: #9a898f;
    font-weight: 100;
    text-align: left;
    border-bottom: 1px solid #edeff1;
    padding: 0.95rem;
  }

  tr {
    transition:transform 0.2s ease-in ,box-shadow 0.2s ease-in;
    &:nth-child(even) {
      background-color: #f2f2f2;
    }

    &:hover:not(thead tr){
      transform: scale(1.03);
      cursor:pointer;
      box-shadow: 0 0 3px 1px rgb(0 0 0 / 50%);
    }
  }
}