$spaces: 20;
@mixin margin($size) {
  margin: $size + px;
}

@mixin margin-top($size) {
  margin-top: $size + px;
}

@mixin margin-left($size) {
  margin-left: $size + px;
}

@mixin margin-right($size) {
  margin-right: $size + px;
}

@mixin margin-bottom($size) {
  margin-bottom: $size + px;
}

@mixin margin-x($size) {
  margin-right: $size + rem;
  margin-left: $size + rem;
}

@mixin margin-y($size) {
  margin-top: $size + rem;
  margin-bottom: $size + rem;
}

@mixin padding($size) {
  padding: $size + px;
}

@mixin padding-top($size) {
  padding-top: $size + px;
}

@mixin padding-left($size) {
  padding-left: $size + px;
}

@mixin padding-right($size) {
  padding-right: $size + px;
}

@mixin padding-bottom($size) {
  padding-bottom: $size + px;
}

@mixin gap($size) {
  gap: $size + px;
}


@for $i from 0 through $spaces {
  .margin-#{$i} {
    @include margin($i);
  }
  .margin-top-#{$i} {
    @include margin-top($i);
  }
  .margin-left-#{$i} {
    @include margin-left($i);
  }
  .margin-right-#{$i} {
    @include margin-right($i);
  }
  .margin-bottom-#{$i} {
    @include margin-bottom($i);
  }
  .margin-x-#{$i} {
    @include margin-x($i);
  }
  .margin-y-#{$i} {
    @include margin-y($i);
  }
  .padding-#{$i} {
    @include padding($i);
  }
  .padding-top-#{$i} {
    @include padding-top($i);
  }
  .padding-left-#{$i} {
    @include padding-left($i);
  }
  .padding-right-#{$i} {
    @include padding-right($i);
  }
  .padding-bottom-#{$i} {
    @include padding-bottom($i);
  }
  .gap-#{$i} {
    @include gap($i);
  }
}

.d-flex {
  display: -webkit-box; /* wkhtmltopdf uses this one */
  display: flex;
}

.d-block {
  display:block;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.h-100 {
  height: 100%;
}



.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-secondary-light {
  color: var(--color-secondary-light);
}

.text-danger {
  color: var(--color-danger);
}

.text-warning {
  color: var(--color-warning);
}

.text-success {
  color: var(--color-success);
}

.text-center {
  text-align: center;
}

.fz-32 {
  font-size: 2rem;
}

.fz-16 {
  font-size: 16px;
}

/* Toggle is active or not */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 31px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 1px #2196F3;
  background-color: white;
  transition: .4s;

  &:before {
    position: absolute;
    content: "N";
    height: 25px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 25px;
    left: 4px;
    bottom: 4px;
    font-size: 15px;
    background-color: red;
    transition: 0.4s;
  }
}

input {
  &:checked {
    + {
      .slider {
        &:before {
          content: "O";
          background-color: #63bb38;
          transform: translateX(26px);
        }
      }
    }
  }
}

/* rounder sliders */

.slider.round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}

.card {
  background-color: #FFFFFF;
  width: 100%;
  min-width:300px;
  padding: 1em;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);

  &.bg-grey{
    background-color:#edf0f7;
  }

  &#content_container {
    box-shadow: 25px 0 35px 0 rgba(154, 161, 171, 0.15);
  }
}

.width-auto {
  width: auto;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.border {
  border: 1px solid var(--color-secondary-light);
}

.w-100 {
  width: 100%;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.img-md {
  width: 70px;
  height: 70px;
  font-size: 1.5rem;
}

.title{
  font-weight:500;
  color:#6C757D;
}

.alert-danger{
  padding: 1rem;
  margin: 10px;
  background-color: var(--color-danger-light);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 5px rgb(100 100 100 / 28%);
  text-align: center;
}
