@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";
@import "./sidebar/sidebar";
@import "./dashboard/dashboard";
@import "./topbar/topbar";
@import "./login/login";
@import "./common/datatable";
@import "./human_resources/details";
@import "./human_resources/datatable";
@import "common/form/forms";
@import "./patient/show";
@import "./common/modal";
@import "common/button.scss";
@import "./common/utilis";
@import "select2";
@import "~@fullcalendar/common/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~@fullcalendar/list/main.css";

/* GlobalStyles de l'application */

:root {
  --bg-color-body: #F6F7FA;
  --color-white: #FFFFFF;
  --color-pink: #FA5C7C;
  --color-orange: #FCAD73;
  --color-grey: #B2BBC0;
  --bg-color-nav-links: #1D1B31;
  --color-black: #000;
  --color-primary: #0F2544;
  --color-primary-light: #0F2544BD;
  --color-secondary: #808080;
  --color-secondary-light: #808080BD;
  --color-danger: #DC3545;
  --color-danger-light: #DC3545BD;
  --color-success: #59B22F;
  --color-success-light: #59B22FBD;
  --color-warning: #FFBC00;
  --color-warning-light: #FFBC00BD;
  --width-side-bar: 300px;
  --width-side-bar-close: 78px;
  --height-top-bar: 80px;
  --hr-color: #e5e5e5;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color-body);
  overflow-y: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.card {
  background-color: #FFFFFF;
  width: 100%;
  padding: 1em;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.p-5 {
  padding: 5px;
}

hr{
  height: 1px;
  background-color: var(--hr-color);
  border: none;
  margin: 1rem 0;
}