@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --bg-color-body: #FAFBFE;
    --color-pink: #FA5C7C;
    --color-orange: #FCAD73;
    --color-grey: #B2bBC0;
    --color-blue: #0F2544;
}

/* GlobalStyles de l'application */
body {
    background-color: var(--bg-color-body);
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.sidebar {
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width: 300px;
    background:var(--color-blue);
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar .logo{
    margin-top:50px;
    text-align:center;
    width:100%;
}

.sidebar .logo .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar .nav-links {
    height:100%;
    padding: 53px 0 150px 0;
    overflow:auto;
}

ul li {
    list-style: none;
}

/* Hide scrollbar of nav-links when submenu showing */
.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}

.sidebar .nav-links .header-nav-link{
    position: relative;
    cursor:pointer;
    margin-top:10px;
    transition: all 0.4s ease;
}

.sidebar .nav-links .header-nav-link:hover{
    background: #1d1b31;
}

.sidebar .nav-links .header-nav-link .link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links .header-nav-link i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links .header-nav-link.show-sub-menu i.arrow{
    transform: rotate(90deg);
}

.sidebar .nav-links .header-nav-link a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links .header-nav-link a .link_name{
    font-size: 18px;
    font-weight: 400;
    min-width: max-content;
    color: #fff;
    transition: all 0.4s ease;
}

.sidebar .nav-links .header-nav-link .sub-menu{
    padding: 6px 6px 0 80px;
    margin-top: 0;
    background: var(--color-blue);
    transition:all 0.4s;
    display: none;
}

.sidebar .nav-links .header-nav-link.show-sub-menu .sub-menu{
    display: block;
}

.sidebar .nav-links .header-nav-link .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 8px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links .header-nav-link .sub-menu a:hover{
    opacity: 1;
}

.sidebar .nav-links .header-nav-link .sub-menu .link_name{
    display: none;
}

/* Afficher ou cacher la sidebar */
.sidebar.close{
    width: 78px;
}

.sidebar.close .nav-links{
    overflow: visible;
}
.sidebar.close .nav-links .header-nav-link .icon-link{
    display: block
}
.sidebar.close .nav-links .header-nav-link a .link_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.close .nav-links div .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links div .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    min-width: max-content;
    display: block;
}

.sidebar.close .nav-links div:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.close ~ .dashboard-section{
    left: 78px;
    width: calc(100% - 78px);
}

.sidebar.close .nav-links div:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links i.arrow, .sidebar.close .nav-links #accountent .link a{
    display:none
}

#accountent a{
    margin-right:28px;
}

.sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

/* Dashboard body */
.dashboard-section{
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    left: 291px;
    width: calc(100% - 291px);
    transition: all 0.5s ease;
}

.dashboard-section .dashboard-content{
    height: 60px;
    display: flex;
    align-items: center;
}

.dashboard-section .dashboard-content .fa-bars,
.dashboard-section .dashboard-content .text{
    color: #11101d;
    font-size: 18px;
}

.dashboard-section .dashboard-content .fa-bars{
    margin: 0 15px;
    cursor: pointer;
}

.dashboard-section .dashboard-content.text{
    font-size: 26px;
    font-weight: 600;
}

