@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";
@import "./sidebar/sidebar";
@import "./dashboard/dashboard";
@import "./topbar/topbar";
@import "./login/login";
@import "./human_resources/details";
@import "./human_resources/datatable";

/* GlobalStyles de l'application */

:root {
  --bg-color-body: #F6F7FA;
  --color-white: #FFFFFF;
  --color-pink: #FA5C7C;
  --color-orange: #FCAD73;
  --color-grey: #B2BBC0;
  --width-side-bar: 300px;
  --width-side-bar-close: 78px;
  --height-top-bar: 80px;
  --bg-color-nav-links: #1D1B31;
  --color-black: #000;
  --color-primary: #0F2544;
  --color-danger: #dc3545;
  --color-success: #59b22f;
  --color-warning: #ffbc00;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color-body);
  overflow-y: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.card {
  background-color: #FFFFFF;
  width: 100%;
  padding: 1em;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}

.p-5 {
  padding: 5px;
}