{% extends app.request.query.get('isAjax', false) ? 'layout_empty.html.twig' : 'room/show.html.twig' %}

{% block content %}
    <div id="room-show-planning" data-room-id="{{ room.id }}"></div>
{% endblock %}