{% extends app.request.query.get('isAjax', false) ? 'layout_empty.html.twig' : 'room/show.html.twig' %}

{% block content %}

    <h4>
        TODO : Affichage du planning pour une salle
        Ne pas proposer de filtre je suppose, car on veux que ce soit tout le temps filtré sur la salle
    </h4>

{% endblock %}