{% extends app.request.query.get('isAjax', false) ? 'layout_empty.html.twig' : 'room/index.html.twig' %}

{% block content %}
    <div id="room-types">
        <div class="d-flex justify-content-between">
            <h3>Liste des types de salle</h3>

            <a class="btn btn-success">
                <i class="fa fa-plus"></i>
                Ajouter un type
            </a>
        </div>

        <div class="card-container justify-content-center">
            {% for type in roomTypes %}
                <div class="d-flex flex-column card">

                    <b>{{ type.name }}</b>
                    <div class="d-flex justify-content-between bottom-line">
                        <div class="d-flex align-self-end font-italic">
                            #{{ type.id }}
                        </div>
                        <div class="d-flex buttons-container">
                            <a class="btn btn-primary">Modifier</a>

                            <a class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('room.index.style') }}
{% endblock %}