{% extends 'base.html.twig' %}
{% block title %}Ressources humaine{% endblock %}

{% block body %}
    <div class="container-list-users">
        <h4 class="title-list-users">
            Utilisateurs
        </h4>
        <div class="card">

            <div class="row__datatable">
                <div>
                    <label for="input-search"></label>
                    <input class="form-input-datatable" type="text" placeholder="Chercher ..." id="input-search" name="search"/>

                    <label for="datatable-limit"></label>
                    <select name="limit" id="datatable-limit" class="form-input-datatable">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <a class="btn btn-success" href="{{ path('app_add_user') }}">
                    <i class="fa fa-plus"></i>
                    Ajouter un utilisateur
                </a>
            </div>

            <table id="table-users" class="datatable" data-url="{{ path('users_json') }}">
                <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Tél.</th>
                    <th>Email</th>
                    <th>Profession</th>
                    <th>Actif</th>
                    <th>Détails</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('human_resources.datatable') }}
{% endblock %}

