{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <div id="planning" class="h-100">
        <div class="d-flex align-items-center justify-content-center w-100 h-100"><i class="fas fa-circle-notch fa-spin text-primary fz-32"></i></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('planning.index') }}
{% endblock %}