{% extends 'base.html.twig' %}
{% block body %}
    <div id="planning-filterbar">
        <a class="btn btn-primary"> Afficher par truite</a>

        <a class="btn btn-primary"> Afficher par mouette</a>

        <a class="btn btn-primary"> Afficher par rat crevé</a>
    </div>

    <div id="planning"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('planning.index') }}
{% endblock %}