{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <div id="planning" class="h-100"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('planning.index') }}
{% endblock %}