
{% apply spaceless %}
    {% if doctor.avatar is not null %}
        {{ doctor.avatar }}
    {% else %}
        <div class="avatar-default {{ class|default('') }}">
            <span>{{ doctor.firstName|slice(0,1)|upper ~ doctor.lastName|slice(0,1)|upper }}</span>
        </div>
    {% endif %}
{% endapply %}