<dialog class="modal" id="modal">
    <div class="modal-content">
        <div class="modal-header d-flex align-items-center justify-content-between">
            <h2 class="modal-title">HEADER MODAL</h2>
            <i class="fa fa-times close-button"></i>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer d-flex align-items-center justify-content-end">
            <button class="btn btn-success" id="submit__form">Ajouter</button>
            <button class="btn btn-danger close-button">Annuler</button>
        </div>
    </div>
</dialog>