{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<header id="header">
    <div id="logo">

    </div>
    <nav>
        <div class="header-nav-link">
            <a href="#"><i class="fa fa-user"></i>Ressources humaines</a>
        </div>
        <div class="header-nav-link">
            <a href="#"><i class="fa fa-city"></i>Equipements</a>
        </div>
        <div class="header-nav-link">
            <a href="#"><i class="fa fa-calendar-alt"></i>Planning</a>
        </div>
        <div class="header-nav-link">
            <a href="#"><i class="fa fa-money-check-alt"></i>Comptabilité</a>
        </div>
        <div class="header-nav-link">
            <a href="#"><i class="fa fa-truck"></i>Fournisseurs</a>
        </div>
        <div class="header-nav-link">
            <a href="#"><i class="fas fa-cubes"></i>Services</a>
        </div>
        <div class="header-nav-link">
            <a href="#"><i class="fa fa-door-open"></i>Salles</a>
        </div>
        <div class="header-nav-link">
            <a href="#"><i class="fa fa-user-injured"></i>Patients</a>
        </div>
    </nav>
    <div id="footer">

    </div>
</header>
{% endblock %}
